# Entorno virtual
venv/
ENV/
env/
*.pyc
__pycache__/

# Archivos temporales
*.log
*.tmp
.DS_Store
Thumbs.db

# Configuracion IDE
.vscode/
.idea/
*.code-workspace

# GitHub workflow/config directory (optional to ignore)
.github/

# Archivos de sistema
*.swp
*.bak
*.old